.tipbar-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px;
  width: 100%;
  height: 25px;
  gap: 90px;
  background: #e93a7d;
}

.tipbar-box-troca {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 143px;
}

.tipbar-box-troca-icon {
  background: url("../../assets/icons/troca.svg");
  width: 13px;
  height: 13px;
  flex: none;
}

.tipbar-box-troca-paragraph {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 130%;
  color: #ffffff;
  flex: none;
}

.tipbar-box-frete {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  display: none;
  width: 299px;
}

.tipbar-box-frete-icon {
  background: url("../../assets/icons/frete.svg");
  width: 18px;
  height: 18px;
  flex: none;
}

.tipbar-box-frete-paragraph {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  color: #ffffff;
  flex: none;
}

.tipbar-box-parcele {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  display: none;
  width: 212px;
  height: 20px;
}

.tipbar-box-parcele-icon {
  background: url("../../assets/icons/parcela.svg");
  width: 18px;
  height: 18px;
  flex: none;
}

.tipbar-box-parcele-paragraph {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  color: #ffffff;
  flex: none;
}

@media (min-width: 768px) {
  .tipbar-box-frete {
    display: flex;
  }

  .tipbar-box-parcele {
    display: flex;
  }
}
